h1 Квест #{bundle.to_s}

hr
= link_to 'Загрузить новый слайд', new_private_slide_path(slide: { bundle_id: bundle.id }), class: 'btn btn-success'
hr

- if bundle.slides.any?
  = render 'private/slides/slides', slides: bundle.slides
