nav.nav.nav-pills.flex-column
  = active_link_to 'Прохожу квесты', private_bundle_games_path, class: 'nav-link'
  = active_link_to 'Авторские квесты', private_bundles_path, class: 'nav-link'
  = active_link_to 'Профиль', profile_path, class: 'nav-link'
