p Прогресс (#{bundle_game.state})
.progress
  .progress-bar.bg-success.progress-bar-striped aria-valuemax=bundle_game.slides_count aria-valuemin=0 aria-valuenow=bundle_game.done_slides_count role="progressbar" style="width: #{bundle_game.progress_percents}%"
    = bundle_game.progress_humanized
