/*
 *= require_tree .
 *= require noty
 *= require nprogress
 *= require nprogress-bootstrap
 *= require nprogress-turbolinks5
 *= require follower
 *= require_self
 */

@import "bootstrap";
@import 'ionicons';

.table-narrow {
  width: auto;
}

.crosshair       { cursor: crosshair; }

.slide-wrapper { position: relative; }
